body {
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
.container {
    text-align: center;
}
.hexColor {
    font-size: 2rem;
}
#btn {
    color:#47dbf5;
    border: 5px solid #44629c;
    border-radius: 8px;
    background: #2867e0;
    font-size: 2rem;
    padding: 3px 3px;
    cursor: pointer;
    outline: none;
    transition: all 2s ease;
}
#btn:hover {
    background: #47dbf5;
    color: #2867e0;
}